* text=auto

README.md text ident
*.md      text diff=markdown linguist-documentation
LICENSE   text linguist-documentation linguist-language=Markdown
TODO      text linguist-documentation linguist-language=Markdown
*.gcode   text linguist-generated linguist-language=G-code

*.jpg     binary
*.png     binary
*.f3z     binary
*.stl     binary
